<div class="row">
  <div class="small-12 columns about">
    <h2 class="green">About Musclewizards</h2>
    <p>
      A lot of work goes into looking your best for a contest, and MuscleWizards provides a simple place to store and track all your relevant data.  It is geared towards an IIFYM-based approach to contest dieting.
    </p>
    <h4 class="green">Key Features:</h4>
    <ul class="no-bullet">
      <li><strong>Find a coach</strong> easily to assist you with your prep. They are available through in-app messaging, and will provide you with your goals and feedback on your progress.</li>
      <li><strong>Easy data entry</strong> for daily macros, weigh-ins and cardio logging.</li>
      <li><strong>Simple Progress Photo Comparisons</strong>. For physique competitions, photos are key for tracking progress towards your goals.  Our interface provides easy uploading, and photos can be tagged by pose for simple chronological comparisons.</li>
      <li><strong>Historical data tracking</strong>.  All data points are tracked in real time as they are entered and are easy to visualize with graphs and tables.</li>
    </ul>
    <div class="button-group">
      <%= link_to "Sign Up Now", new_user_registration_path, class: "button", id: "sign-up" %>
      <%= link_to "Back to Home", home_path, class: "button", id: "home" %>
    </div>
  </div>
</div>
