<div class="row">
  <%= link_to "Add new cardio", new_prep_cardio_path(@prep), class: "button" %>

  <%= link_to "Back to Prep Home", prep_path(@prep), class: "button" %>
  <div class="medium-12 columns">
    <h3 class="text-center">Cardio History</h3>
    <%= render partial: 'cardio_chart' %>
  </div>


  <ul>
    <%= render @cardios %>
  </ul>
</div>
