<div class="chart">
  <h3 class="text-center">Macros</h3>
  <%= line_chart [
    {
      name: "Protein",
      data: @macros.map { |macro| [macro.created_at.strftime("%D"), macro.protein] }
    },
    {
      name: "Carbs",
      data: @macros.map { |macro| [macro.created_at.strftime('%D'), macro.carbs] }
    },
    {
      name: "Fat",
      data: @macros.map { |macro| [macro.created_at.strftime('%D'), macro.fat] }
    },
    {
      name: "Goal Pro",
      data: @target_macros.map { |macro| [macro.created_at.strftime('%D'), macro.protein] }
    },
    {
      name: "Goal Carbs",
      data: @target_macros.map { |macro| [macro.created_at.strftime('%D'), macro.carbs] }
    },
    {
      name: "Goal Fat",
      data: @target_macros.map { |macro| [macro.created_at.strftime('%D'), macro.fat] }
    }
    ],
    ytitle: "Macro Quantity (g)"
  %>
</div>
