<h1>Macro History:</h1>

<%= link_to "Add new macros", new_prep_macro_path(@prep) %>

<%= render partial: 'macro_chart' %>

<ul>
  <%= render @macros %>
</ul>

<%= link_to "Back to Prep Home", prep_path(@prep) %>
