<h2>Preps:</h2>
<% if @coached_preps.any? %>
  <h3 class="green">Coached Preps:</h3>
  <% @coached_preps.each do |prep| %>
    <%= render partial: 'preps/coached_prep', locals: { prep: prep } %>
  <% end %>
  <h3 class="green">Personal Preps:</h3>
<% end %>
<% if preps.any? %>
  <% preps.each do |prep| %>
    <ul class="no-bullet">
      <li><%= render partial: 'preps/prep', locals: { prep: prep } %></li>
    </ul>
  <% end %>
  <%= link_to "Add another prep", new_prep_path %>
<% else %>
  <h6>You don't have any preps started yet.  <%= link_to "Start one now!", new_prep_path %></h6>
<% end %>
