<div class="row">
  <div class="medium-12 columns">
    <h2>About:</h2>
    <!-- <h3 class="green">Certifications:</h3> -->
    <%#= render partial: 'certifications', locals {certs: @user.certifications} %>
    <h3 class="green">Philosophy:</h3>

    <%= simple_format(@user.philosophy) %>

    <!-- <h3 class="green">Testimonials:</h3> -->
    <%#= render partial: 'testimonials', locals {testes: @user.testimonials} %>

  </div>
</div>
