<%= link_to coach_path(prep_id: params[:prep_id], id: user.id) do %>
  <div class="medium-4 text-center columns">
    <%= image_tag user.avatar(:thumb) %>
    <ul class="no-bullet">
      <li>Name: <%= user.name %></li>
      <li>Joined: <%= user.created_at.strftime('%D') %></li>
    </ul>
  </div>
<% end %>
