<%= link_to user_path(user) do %>
  <div class="medium-4 text-center columns">
    <%= image_tag user.avatar(:thumb) %>
    <ul class="no-bullet">
      <li>Name: <%= user.name %></li>
      <li>Joined: <%= user.created_at.strftime('%D') %></li>
    </ul>
  </div>
<% end %>
