<div class="row">
  <div class="medium-12 columns">
    <h2>About:</h2>
    <!-- <h3 class="green">Certifications:</h3> -->
    <%#= render partial: 'certifications', locals {certs: @user.certifications} %>
    <% if @user.philosophy %>
      <h3 class="green">Philosophy:</h3>
      <%= render partial: 'philosophies/philosophy' %>
    <% else %>
      <% if @user == current_user %>
       <h6>Tell us about your training philosophy.  <%= link_to "+ Add now", new_user_philosophy_path(current_user) %></h6>
      <% end %>
    <% end %>

    <!-- <h3 class="green">Testimonials:</h3> -->
    <%#= render partial: 'testimonials', locals {testes: @user.testimonials} %>

  </div>
</div>
