<div class="row">
  <div class="medium-4 columns">
    <% if @user == current_user %>
      <h4>Your Account</h4>
    <% else %>
      <h4><%= @user.name %></h4>
    <% end %>
    <%= render partial: 'user_info' %>
  </div>
  <div class="medium-8 columns">
    <% if @user == current_user %>
      <%= render partial: 'preps', locals: { preps: @user.preps } %>
    <% end %>
    <%= render partial: "user_about" %>
  </div>
</div>
