<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%= @coach.name %>,</h2>
    <p>
      The request for coaching from <%= @prep.athlete.name %> has been cancelled.
    </p>
    <h4>The <span class="green">Muscle</span>Wizards Team</h4>
  </body>
</html>
