  <% certs.each do |cert| %>
    <ul class="no-bullet">
      <li>Certification Title: <%= cert.name %><li>
      <li>Certified On: <%= cert.date_granted.strftime('%D') %></li>
      <li><%= link_to "Edit", edit_user_certification_path(user_id: current_user.id, id: cert) if @user == current_user %></li>
      <li><%= link_to "Delete", user_certification_path(user_id: current_user.id, id: cert), method: :delete if @user == current_user %></li>
    </ul>

  <% end %>
