<div class="resource">
  <ul class="no-bullet">
    <li><%= link_to resource.title, user_resource_path(user_id: resource.user.id, id: resource.id) %></li>
    <li>Added on <%= resource.created_at.strftime("%D") %></li>
    <li><%= link_to "Edit", edit_user_resource_path(user_id: current_user.id, id: resource.id), class: "underline" %> <%= link_to "Delete", user_resource_path(user_id: current_user.id, id: resource.id), class: "underline", method: :delete %></li>
  </ul>
</div>
