<% if @prep %>
  <div class="share-link">
    <% if resource_shared_with_prep(resource) %>
      <%= link_to "Unshare Resource", resourcery_path(id: Resourcery.where(resource_id: resource.id, prep_id: @prep.id).first), method: :delete %>
    <% else %>
      <%= link_to "+ Share Resource", resourceries_path(prep_id: @prep.id, resource_id: resource.id), method: :post %>
    <% end %>
  </div>
<% else %>
  <%= link_to "Share Resource", new_resourcery_path(resource: resource), class: "button", id: "share-button" %>
<% end %>
