/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require magnific-popup
 *= require jquery-ui/datepicker
 */

@import "settings";
@import "foundation_and_overrides";
$bluish: #59d4d9;

body {
  background: url(asset_path('mw_bg.png')) no-repeat center center fixed;
  background-size: cover;
}

h1,h2,h3,h4 {
  font-weight: 100;
}

.green {
  color: $primary-color;
}

.bluish {
  color: $bluish;
}

.button {
  border-radius: 4px;
  box-shadow: 0px 0px 10px 2px rgba(90,216,164,1);
  background-color: rgba(0,0,0,.2);
  transition: background, box-shadow, .25s ease-in-out;
}
.button:hover {
  box-shadow: 0px 0px 12px 4px rgba(90,216,164,1);
  background-color: rgba(0,0,0,.4);
}

/* navbar */
.top-bar {
  background: rgba(0,0,0,.7);
  ul {
    background: none;
  }
}


/* home page */
.title {
  margin-top: 4em;
  margin-bottom: 3em;
  h1 {
    font-size: 6em;
    font-weight: 100;
    margin-bottom: -10px;
  }
  h3 {
    font-weight: 100;
  }
}

.sign-in {
  padding-bottom: 10px;
  h1 {
    font-weight: 100;
  }
  h5 {
    margin-bottom: -6px;
  }
  h6 {
    margin-bottom: 12px;
  }
  .button {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.coach {
  border-right: 1px solid white;
}

/* about page */
.about {
  ul {
    margin-bottom: 30px;
  }
  li {
    margin-bottom: 15px;
  }
}

/* user page */
.coached-prep {
  padding: 0;
  height: 110px;
  transition: background, .2s ease-in-out;
  a {
    color: $white;
    transition: color, .2s ease-in-out;
  }
  a:hover {
    color: $primary-color;
  }
  ul {
    padding-top: 15px;
    display: inline-block;
  }
  img {
    margin-top: 5px;
    margin-right: -10px;
  }
}
.coached-prep:hover {
  background: rgba($white, 0.3);
}

/* messages page */
.messages {
  margin-bottom: 20px;
}

.message {
  margin: 10px 0;
}

/* prep page */
.status-panel {
  min-height: 300px;
}
