
body {
  background: url(asset_path('mw_bg.png')) no-repeat center center fixed;
  background-size: cover;
}

/* flash messages */
.alert-box {
  padding: 15px;
  margin-bottom: 10px;
  a {
    color: $white;
  }
}

.success {
  background: $primary-color;
}

.warning {
  background: $warning-color;
}

.alert {
  background: $alert-color;
}

.notice {
  background: $primary-color;
}

h1,h2,h3,h4 {
  font-weight: 200;
}

.green {
  color: $primary-color;
}

.bluish {
  color: $bluish;
}

.underline {
  text-decoration: underline;
}

.button {
  border-radius: 4px;
  box-shadow: 0px 0px 10px 2px rgba(90,216,164,1);
  background-color: rgba(0,0,0,.2);
  transition: background, box-shadow, .25s ease-in-out;
}
.button:hover {
  box-shadow: 0px 0px 12px 4px rgba(90,216,164,1);
  background-color: rgba(0,0,0,.4);
}

/* navbar */
.top-bar {
  background: rgba(0,0,0,.7);
  margin-bottom: 20px;
  ul {
    background: none;
  }
}
#logo {
  color: $white;
  padding: 0;
}

.footer {
  height: 60px;
}

@media screen and (max-width: 639px) {
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  #top-bar-left {
    width: 50%;
  }
  #top-bar-right {
    width: 50%;
    ul {
      float: right;
    }
  }
}
