// Place all the styles related to the Macros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart {
  border-radius: 5px;
  background-color: rgba($dark-gray,.7);
  padding-top: 10px;
  margin-bottom: 25px;
}

.highcharts-container {
  border-radius: 5px;
  rect {
    fill: rgba($dark-gray,.0);
  }
}

.data-table {
  background-color: rgba($dark-gray,.7);
  border-radius: 5px;
  margin: 10px 0;
  h3 {
    margin-bottom: -5px;
  }

  td {
    border: 1px solid $white;
  }
  td:first-child {
    border-left: none;
  }
  td:last-child {
    border-right: none;
  }
  tr:last-child {
    td {
      border-bottom: none;
    }
  }

  tbody {
  background-color: rgba($dark-gray,.0);
  }
}
