// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* messages page */
.messages {
  margin-bottom: 20px;
}

.message {
  margin: 10px 0;
}

.message-form {
  margin-top: 20px;
}

.message-time {
  display: inline;
}
