// Place all the styles related to the Preps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status-panel {
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.prep-avatar {
  max-height: 180px;
}

#mw-logo {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 100px;
}

.no-data {
  margin-top: 60px;
}

.backgrnd {
  min-height: 300px;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba($dark-gray,.2);
  transition: background-color .2s ease-in-out;
}
.backgrnd:hover {
  background-color: rgba($dark-gray,.5);
}

.communication-links {
  margin-top: 55px;
}

.photo-buttons {
  margin-top: 30px;
}

.photo {
  max-height: 260px;
  max-width: 95%;
}

.welcome {
  margin-top: 40px;
}

@media screen and (max-width: 1000px) {
  .status-panel {
    h5 {
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .status-panel {
    h5 {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 639px) {
  .status-panel {
    h5 {
      font-size: 1.25rem;
    }
  }
}
