// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navigation-buttons {
  margin-top: 25px;
}

#share-button {
  margin-top: 26px;
}
.resource {
  transition: background, .2s ease-in-out;
  ul {
    margin-top: 10px;
  }
}
.resource:hover {
  background: rgba($white, 0.3);
}
.share-link {
  margin-top: 25px;
}
