// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* home page */
.title {
  margin-top: 4em;
  margin-bottom: 3em;
  h1 {
    font-size: 6em;
    font-weight: 100;
    margin-bottom: -10px;
  }
  h3 {
    font-weight: 100;
  }
}

.sign-in {
  padding-bottom: 15px;
  h1 {
    font-weight: 100;
  }
  h5 {
    margin-bottom: -6px;
  }
  h6 {
    margin-bottom: 12px;
  }
  .button {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.coach {
  border-right: 1px solid white;
}

/* about page */
.about {
  ul {
    margin-bottom: 30px;
  }
  li {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 639px) {
  .title {
    h1 {
      font-size: 4em;
    }
    h3 {
      font-size: 2em;
    }
  }
  .sign-in {
    h1 {
      margin: 10px 0;
    }
  }
  .coach {
    border-right: none;
  }
  .about {
    h2, h4 {
      font-size: 2em;
    }
  }
  #sign-up {
    width: 49.9%;
  }
  #home {
    width: 49.9%;
  }
}

@media screen and (max-width: 450px) {
  .title {
    h1 {
      font-size: 2.5em;
      font-weight: 200;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 200;
    }
  }

}
