<div class="row">
  <div class="small-12 columns">
    <h2>Sharing Resource "<%= @resource.title %>"</h2>
    <h4>Share with...</h4>
    <button type="button" id="select_all">Select All</button>
    <%= render partial: 'form', locals: { resource: @resource } %>
    <%= link_to "Back to Resources", user_resources_path(current_user) %>
  </div>
</div>

<script type="text/javascript">
  $('#select_all').on("click", function(){ $('input[type="checkbox"]').click(); });
</script>
