<div class="backgrnd">
  <% if @prep.coach.nil? %>
      <h4>Welcome</h4>
      <h5 class="no-data">Congratulations on starting your prep. The coach panel has options for finding a coach or choosing to coach yourself. Good luck!</h5>
  <% elsif @prep.athlete != @prep.coach %>
    <h4>Communication</h4>
    <ul class="no-bullet">
      <li><%= link_to new_resource_count, prep_resourceries_path(@prep) %></li>
      <% if current_user.id == @prep.user_id %>
        <li><%= link_to "Message Coach #{new_message_count_print}", prep_conversations_path(prep_id: @prep.id, sender_id: @prep.user_id, recipient_id: @prep.coach_id), method: :post %></li>
      <% else %>
        <li><%= link_to "Message Athlete #{new_message_count_print}", prep_conversations_path(prep_id: @prep.id, sender_id: @prep.coach_id, recipient_id: @prep.user_id), method: :post %></li>
      <% end %>
    </ul>
  <% else %>
    <h1 class="no-data" id="mw-logo"><span class="green">M</span>W</h1>
  <% end %>
</div>
