<% unless @prep.coach_id == current_user.id && @prep.user_id == @prep.coach_id %>
  <h4>Communication</h4>
  <ul class="no-bullet">
    <li><%= link_to new_resource_count, prep_resourceries_path(@prep) %></li>
    <% if current_user.id == @prep.user_id %>
      <li><%= link_to "Message Coach #{new_message_count}", prep_conversations_path(prep_id: @prep.id, sender_id: @prep.user_id, recipient_id: @prep.coach_id), method: :post %></li>
    <% else %>
      <li><%= link_to "Message Athlete #{new_message_count}", prep_conversations_path(prep_id: @prep.id, sender_id: @prep.coach_id, recipient_id: @prep.user_id), method: :post %></li>
    <% end %>
  </ul>
<% else %>
  <h1><span class="green">M</span>W</h1>
<% end %>
