<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">MUSCLEWIZARDS</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><%= link_to "Login", new_user_session_path %></a></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      </ul>
    </div>
  </div>
</div>
