<% if photos.any? %>
  <% photos.each do |photo| %>
    <div class="medium-4 medium-center columns status-panel">
      <div class="text-center backgrnd">
        <%= image_tag(photo.image(:medium), class: "photo") %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="medium-12 columns text-center status-panel">
    <div class="backgrnd">
      <h5 class="no-data">No Photos Added Yet</h5>
      <%= link_to "+ Add one now!", new_prep_photo_path(@prep) %>
    </div>
  </div>
<% end %>
