<div class="row">
  <div class="medium-8 medium-centered column">
    <h2>New Philosophy</h2>
    <%= render partial: 'form' %>
    <%= link_to "Back to Profile", user_path(current_user) %>
  </div>
</div>
