<div class="row">
  <div class="medium-8 medium-centered column">
    <h2>Log New Weight</h2>
    <%= simple_form_for [@prep, @weight] do |f| %>
      <%= f.input :weight, label: 'Weight (lbs)', input_html: { max: '500' } %>
      <%= f.button :submit %>
    <% end %>
    <%= link_to "Back to Prep", @prep %>
  </div>
</div>
